input[type="text"] {
  width: 40%;
  border: 1px solid #e5e5e5;
  background-color: #181818;
  color: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin: 10px;
}

  .downloadBtn{
    background-color: #2e7d32 ;
}

.video{
  width:50%;
  height:30%;
}

@media (max-width: 450px) {
  input[type="text"] {
    width: 40%;
    /* max-width: 300px; */
    margin: 10px;
  }
}