.nav {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    text-align: left
}

.PsStand {
    position: fixed;
    right: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 450px) {
    .PsStand {
      position: relative;
      top: auto;
      left: 0.5rem;
      bottom: 1rem;
      text-align: center;
    }
  }