.nav {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    text-align: left
}

.PsStand {
    position: fixed;
    right: 1rem;
    top: 1rem;
;
}

.triangle {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid red;
  animation: moveTriangle 1s infinite;
}

span{
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

p{
  font-size: small;
}


@keyframes moveTriangle {
  0% {
    transform: translateY(0) rotate(180deg);
    /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); لون مشع هنا */
  }
  50% {
    transform: translateY(20px) rotate(180deg);
    /* box-shadow: 0 0 20px rgba(255, 0, 0, 0.7); زيادة التأثير المشع */
  }
  100% {
    transform: translateY(0) rotate(180deg);
    /* box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); اللون الأصلي في النهاية */
  }
}

@media (max-width: 445px) {
    .PsStand {
      position: relative;
      top: auto;
      left: 0.5rem;
      bottom: 1rem;
      text-align: center;
    }
  }